@inherits LayoutComponentBase

<div class="main">
    <header>
        <h1>This is the header</h1>
    </header>

    <div class="content">
        @Body
    </div>

    <footer>
        <div>This is the footer</div>
    </footer>
</div>
